<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Swapi-API Example</div>
    <p class="content-sub-header">Created by Fernando Chagas</p>

    <h4>What's new? <span class="badge badge-secondary">New</span></h4>
    <ul>
      <li>List of people from Star Wars</li>
      <li>Profile of people from Star Wars</li>
      <li>All build in Apex Admin Layout</li>
    </ul>

    <h4>What's next? <span class="badge badge-secondary">Next</span></h4>
    <ul>
      <li>Pagination for the List</li>
      <li>Filter by hair color and height</li>      
    </ul>

  </div>
</div>
