<hr class="">

<section id="html-headings-default">
    <div class="row">
        <!-- Description lists horizontal -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{data.name}}</h4>
                    <p>This is a description about a Star Wars person, enjoy it!</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="card-text">
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Gender</dt>
                                <dd class="col-sm-9">{{data.gender}}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Birth Year</dt>
                                <dd class="col-sm-9">{{data.birth_year}}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Height</dt>
                                <dd class="col-sm-9">{{data.height}}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Mass</dt>
                                <dd class="col-sm-9">{{data.mass}}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Hair Color</dt>
                                <dd class="col-sm-9">{{data.hair_color}}</dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3 text-right">Eye Color</dt>
                                <dd class="col-sm-9">{{data.eye_color}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Description lists horizontal-->
    </div>
</section>
